{% load i18n %}
{% load settings_value %}

<html>
    <body style="color:black;">
        {% check_free_delivery order as free_delivery %}
        {% get_meta order "last_five_digit" as last_five_digit %}
        {% get_meta order "receipt_image" as receipt_image %}
        {% get_order_products order as order_products %}
        <div style="width:100%; font-family: \'Open Sans\', sans-serif;"> 
            <div style="max-width:900px; text-align: left; margin-left: auto; margin-right: auto;">
                <div text-align="center">
                    <h1 style="text-align:center; font-size: 1.75rem; line-height: 32px; font-weight: 700; color: #4b4b4b; text-transform: none; margin: 0;">
                        {% translate "PAYMENT_CONFIRM" %} <br/>
                    </h1>
                </div>
                <div style="margin-top: 1%; padding: 10px;">
                    <p style="text-align: left; font-weight: 700; font-size: 1rem; line-height: 0; margin-top: 24px;">{% translate "EMAIL/DELIVERY_CONFIRM/ORDER_INFO" %}</p>
                    <div style="border-bottom: 3px solid #ffd000; width: 20%; margin-bottom: 10px;"></div>

                    <!--Order Details -->
                    <table cellspacing="0" cellpadding="0" style="width:100%; font-size: 0.9rem; border:0; color: #4b4b4b; font-weight: 600; line-height: 1.5; text-align:left;" role="presentation">
                        <tbody>
                            
                            <tr>
                                <td style="width: 80px; white-space: nowrap;" >{% translate "ORDER_NO" %} : </td>
                                <td style="width: auto;  padding-left: 20px;">#{{order.id}}</td>
                            </tr>
                            <tr>
                                <td style="width: 80px; white-space: nowrap;" >{% translate "EMAIL/DELIVERY_CONFIRM/CAMPAIGN_TITLE" %} : </td>
                                <td style="width: auto;  padding-left: 20px;">{{order.campaign.title}}</td>
                            </tr>
                            <tr>
                                <td style="width: 80px; white-space: nowrap;">{% translate "EMAIL/DELIVERY_CONFIRM/ORDER_DATE" %} : </td>
                                <td style="width: auto;  padding-left: 20px;">{{order.created_at}}</td>
                            </tr>
                            <tr>
                                <td style="width: 80px; white-space: nowrap;">{% translate "EMAIL/DELIVERY_CONFIRM/RECEIVER" %} : </td>
                                <td style="width: auto;  padding-left: 20px;">{{order.shipping_first_name}} {{order.shipping_last_name}}</td>
                            </tr>
                            <tr>
                                <td style="width: 80px; white-space: nowrap;">{% translate "REPORT/COLUMN_TITLE/SHIPPING_PHONE" %} : </td>
                                <td style="width: auto;  padding-left: 20px;">{{order.shipping_cellphone}}</td>
                            </tr>

                            {% if not order.shipping_remark == '' %}
                            <tr>
                                <td style="width: 80px; white-space: nowrap;">{% translate "EMAIL/DELIVERY_CONFIRM/REMARK" %} : </td>
                                <td style="width: auto;  padding-left: 20px;">{{order.shipping_remark}}</td>
                            </tr>
                            {% endif %}

                            <tr style="height: 20px;"> </tr>

                            {% if order.shipping_method == 'pickup' %}
                            <tr>
                                <td style="width: 80px; white-space: nowrap;">{% translate "EMAIL/ORDER_CONFIRM/SHIPPING_METHOD" %} : </td>
                                <td style="width: auto;  padding-left: 20px;">{% translate "EMAIL/ORDER_CONFIRM/STORE_PICKUP" %} </td>
                            </tr>
                            <tr>
                                <td style="width: 80px; white-space: nowrap; vertical-align: top;"> {% translate "EMAIL/DELIVERY_CONFIRM/PICK_UP_STORE" %}</td>
                                <td style="width: auto;"><p style="margin: 0 !important;  padding-left: 20px;">{{order.shipping_option}},<br/>{{order.pickup_address}}</p></td>
                            </tr>
                                {% if not order.shipping_date_time == '' %}
                                <tr>
                                    <td style="width: 80px; white-space: nowrap;">{% translate "PICKUP_TIME" %} : </td>
                                    <td style="width: auto;  padding-left: 20px;">{{ order.shipping_date_time|date:"d M Y" }} {{ order.shipping_date_time|time:"H:i" }}</td>
                                </tr>
                                {% endif %}
                            {% endif %}

                            {% if order.shipping_method == 'delivery' %}
                                <tr>
                                    <td style="width: 80px; white-space: nowrap;">{% translate "EMAIL/ORDER_CONFIRM/SHIPPING_METHOD" %} : </td>
                                    <td style="width: auto;  padding-left: 20px;">{{order.shipping_option}} </td>
                                </tr>
                                {% if order.shipping_option_data.is_cvs == True %}
                                <tr>
                                    <td style="width: 80px; white-space: nowrap; vertical-align: top;"> {% translate "EMAIL/DELIVERY_CONFIRM/PICK_UP_STORE" %} : </td>
                                    <td style="width: auto;"><p style="margin: 0 !important;  padding-left: 20px;">{{order.shipping_option_data.cvs_store_name}},<br/>{{order.shipping_option_data.cvs_address}}</p></td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td style="width: 80px; white-space: nowrap; vertical-align: top;"> {% translate "EMAIL/DELIVERY_CONFIRM/DELIVERY_ADDRESS" %} : </td>
                                    <td style="width: auto;"><p style="margin: 0 !important;  padding-left: 20px;">{{order.shipping_address_1}}, {{order.shipping_location}}, {{order.shipping_region}}, {{order.shipping_postcode}}</p></td>
                                </tr>
                                    {% if not order.shipping_date_time == '' %}
                                    <tr>
                                        <td style="width: 80px; white-space: nowrap;">{% translate "EMAIL/DELIVERY_CONFIRM/SHIPPING_TIME" %} : </td>
                                        <td style="width: auto;  padding-left: 20px;">{{ order.shipping_date_time|date:"d M Y" }} {{ order.shipping_date_time|time:"H:i" }}</td>
                                    </tr>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            {% if order.shipping_option_data.logisticsType == 'CVS' %}
                            <tr>
                                <td style="width: 80px; white-space: nowrap;">{% translate "EMAIL/ORDER_CONFIRM/SHIPPING_METHOD" %} : </td>
                                <td style="width: auto;  padding-left: 20px;">{% translate "CVS" %} </td>
                            </tr>
                            <tr>
                                <td style="width: 80px; white-space: nowrap; vertical-align: top;"> {% translate "EMAIL/DELIVERY_CONFIRM/PICK_UP_STORE" %} : </td>
                                <td style="width: auto;"><p style="margin: 0 !important;  padding-left: 20px;">
                                    {% if order.shipping_option_data.LogisticsSubType == 'FAMIC2C' %}
                                    {% translate "familymart" %}
                                    {% else %}
                                    {% translate "7_11" %}
                                    {% endif %} 
                                    <br/>
                                    {{order.shipping_option_data.cvs_store_name}},<br/>
                                    {{order.shipping_option_data.cvs_address}}</p></td>  
                            </tr>
                            {% endif %}

                            {% if order.shipping_option_data.LogisticsSubType == 'TCAT' %}
                            <tr>
                                <td style="width: 80px; white-space: nowrap;">{% translate "EMAIL/ORDER_CONFIRM/SHIPPING_METHOD" %} : </td>
                                <td style="width: auto;  padding-left: 20px;">{% translate "TCAT" %} </td>
                            </tr>
                            <tr>
                                <td style="width: 80px; white-space: nowrap; vertical-align: top;"> {% translate "EMAIL/DELIVERY_CONFIRM/DELIVERY_ADDRESS" %} : </td>
                                <td style="width: auto;"><p style="margin: 0 !important;  padding-left: 20px;">{{order.shipping_address_1}}, {{order.shipping_location}}, {{order.shipping_region}}, {{order.shipping_postcode}}</p></td>
                            </tr>
                                {% if not order.shipping_date_time == '' %}
                                <tr>
                                    <td style="width: 80px; white-space: nowrap;">{% translate "EMAIL/DELIVERY_CONFIRM/SHIPPING_TIME" %} : </td>
                                    <td style="width: auto;  padding-left: 20px;">{{ order.shipping_date_time|date:"d M Y" }} {{ order.shipping_date_time|time:"H:i" }}</td>
                                </tr>
                                {% endif %}
                            {% endif %}
                        </tbody>
                    </table>


                    <!-- Payment Details -->
                    <p style="text-align: left; font-weight: 700; font-size: 1rem; line-height: 0; margin-top: 24px;">{% translate "PAYMENT_INFO" %}</p>
                    <div style="border-bottom: 3px solid #ffd000; width: 20%; margin-bottom: 10px;"></div>
                    <table cellspacing="0" cellpadding="0" style="width:100%; font-size: 0.9rem; border:0; color: #4b4b4b; font-weight: 600; line-height: 1.5; text-align:left;" role="presentation">
                        <tbody>
                            {% if order.payment_method == 'direct_payment' %}
                            <tr>
                                <td style="width: 80px; white-space: nowrap;" >{% translate "REPORT/COLUMN_TITLE/PAYMENT_METHOD" %} : </td>
                                <td style="width: auto;  padding-left: 20px;">{% translate "EMAIL/ORDER_CONFIRM/DIRECT_PAYMENT" %}</td>
                            </tr>
                            <tr>
                                <td style="width: 80px; white-space: nowrap;" >{% translate "EMAIL/ORDER_CONFIRM/ACCOUNT_MODE" %} : </td>
                                <td style="width: auto;  padding-left: 20px;">{% get_meta order "account_mode" %}</td>
                            </tr>
                            <tr>
                                <td style="width: 80px; white-space: nowrap;" >{% translate "EMAIL/ORDER_CONFIRM/SELLER_ACCOUNT" %} : </td>
                                <td style="width: auto;  padding-left: 20px;">{% get_meta order "account_name" %}</td>
                            </tr>

                            {% if not last_five_digit == '' %}
                            <tr>
                                <td style="width: 80px; white-space: nowrap;" >{% translate "EMAIL/ORDER_CONFIRM/LAST_FIVE_DIGIT" %} : </td>
                                <td style="width: auto;  padding-left: 20px;">{{last_five_digit}}</td>
                            </tr>
                            {% endif %} 

                            {% if not receipt_image == '' %}
                            <tr style="height:20px; "> </tr>
                            <tr>
                                <td colspan="2" style="width: auto;"><img width="200" src="{{receipt_image}}" alt="Product Image" style="vertical-align: middle; text-align: center; width: 200px; max-width: 200px; height: auto !important; border-radius: 1px; padding: 0px;"> </td>
                            </tr>
                            {% endif %} 
                            
                            {% else %}
                            <tr>
                                <td style="width: 80px; white-space: nowrap;" >{% translate "REPORT/COLUMN_TITLE/PAYMENT_METHOD" %} : </td>
                                <td style="width: auto;  padding-left: 20px;">{{order.payment_method|upper}}</td>
                            </tr>
                            
                            {% endif %}

                        </tbody>
                    </table>
                    
                    <!-- Product List -->

                    <p style="text-align: left; font-weight: 700; font-size: 1rem; line-height: 0; margin-top: 36px;">{% translate "EMAIL/DELIVERY_CONFIRM/PRODUCT_INFO" %}</p>
                    <div style="border-bottom: 3px solid #ffd000; width: 20%; margin-bottom: 10px;"></div>

                    {% for order_product in order_products %}
                    <table cellspacing="0" cellpadding="0" width="100%" style="min-width: 100%; font-size: 1rem;" role="presentation">
                    <tbody>
                        <tr style="padding-top: 10px;">
                            <td width="1" style="mso-line-height-rule: exactly;" valign="middle">
                                <img src="{{order_product.image}}" alt="Product Image" style="width: 150px; max-width: 300px; height: auto !important; border-radius: 1px; padding: 0px;">
                            </td>
                        </tr>
                        <tr style="mso-line-height-rule: exactly; padding-top: 10px; border-bottom-width: 2px; border-bottom-color: #dadada; border-bottom-style: solid;" valign="middle">
                            <table cellspacing="0" cellpadding="0" width="100%" style="min-width: 100%; border-bottom: 1px solid #a5a5a5;" role="presentation">
                                <tbody>
                                <tr>
                                    <td style="max-width: 50%; font-size: 0.9rem;  line-height: 26px; font-weight: 400; color: #666363; padding: 10px 13px;" text-align="left" valign="top">
                                        <p style="line-height: 26px; font-weight: 400; color: #666363; margin: 0;">
                                            <a target="_blank" style="color: #666363; text-decoration: none !important; text-underline-offset: none; word-wrap: break-word; font-weight: bold;">
                                                {{order_product.name}}
                                            </a>
                                        </p>
                                    </td>
                                    <td width="1" style="white-space:nowrap; padding: 10px 13px;" text-align="right" valign="top">
                                        <p style="line-height: 26px; font-weight: 400; color: #666363; margin: 0;">
                                            {% translate "QTY" %} &nbsp;{{order_product.qty}}
                                        </p>
                                    </td>
                                    <td width="1" style="white-space: nowrap; padding: 10px 13px;" text-align="right" valign="top">
                                        <p style="line-height: 26px; font-weight: 400; color: #666363; margin: 0;">
                                            {{order.campaign.currency}}
                                            {% adjust_decimal_places order_product.subtotal order.campaign.decimal_places %}
                                            {% get_price_unit order.campaign.price_unit %}
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </tr>
                    </tbody>
                    </table> 
                    {% endfor %}

                    <!-- Subtotal -->
                    <table cellspacing="0" cellpadding="0" width="100%" style="width: 100%; font-size: 1rem; color: #4b4b4b; font-weight: 600; text-align:right; margin-top: 10px;" role="presentation">
                        <tbody>
                        <tr>
                            <td data-key="1468271_subtotal" text-align="right" valign="top">
                                {% translate "EMAIL/DELIVERY_CONFIRM/SUBTOTAL" %}
                            <span style="width:120px; display:inline-block;">
                                {{order.campaign.currency}}
                                {% adjust_decimal_places order.subtotal order.campaign.decimal_places %}
                                {% get_price_unit order.campaign.price_unit %} </span></td>
                        </tr>

                        {% if order.discount > 0 %} 
                        <tr>
                            <td text-align="right" valign="top">
                            <span> {% discount_code order %} </span>
                            {% translate "EMAIL/DELIVERY_CONFIRM/DISCOUNT" %}
                            <span style="width:120px; display:inline-block;">
                                {{order.campaign.currency}}
                                - {% adjust_decimal_places order.discount order.campaign.decimal_places %}
                                {% get_price_unit order.campaign.price_unit %} </span></td>
                        </tr>
                        {% endif %}

                        {% if free_delivery %} 
                        <tr> 
                            <tr>
                                <td text-align="right" valign="top">
                                    {% translate "FREE_DELIVERY" %}
                                <span style="width:120px; display:inline-block;">0</span></td>
                            </tr>
                        </tr>
                        {% else %}
                        <tr>
                            <td text-align="right" valign="top">
                                {% translate "EMAIL/DELIVERY_CONFIRM/DELIVERY_CHARGE" %}
                            <span style="width:120px; display:inline-block;">
                                {{order.campaign.currency}}
                                {% adjust_decimal_places order.shipping_cost order.campaign.decimal_places %}
                                {% get_price_unit order.campaign.price_unit %}</span></td>
                        </tr>
                        {% endif %}

                        {% if order.points_used > 0 %}
                        <tr>
                            <td text-align="right" valign="top">
                                {% translate "points applyed on this order" %}
                                <!-- {% blocktrans with points=order.points_used %} You had applyed {{ points }} points on this order. {% endblocktrans %} -->
                            <span style="width:120px; display:inline-block;">
                                {{order.points_used}}</span></td>
                        </tr>
                        {% endif %}

                        {% if order.points_earned > 0 %} 
                        <tr>
                            <td text-align="right" valign="top">
                                {% translate "points earned from this order" %}
                                <!-- {% blocktrans with points=order.points_earned %} You could earn {{ points }} points on this order. {% endblocktrans %} -->
                            <span style="width:120px; display:inline-block;">
                                {{order.points_earned}}</span></td>
                        </tr>
                        {% endif %}

                        
                        <tr>
                            <td text-align="right" valign="top">
                                {% translate "EMAIL/DELIVERY_CONFIRM/TOTAL" %}
                            <span style="width:120px; display:inline-block; color:#b91c1c;">
                                {{order.campaign.currency}}
                                {% adjust_decimal_places order.total order.campaign.decimal_places %}
                                {% get_price_unit order.campaign.price_unit %}</span></td>
                        </tr>
                        </tbody>
                    </table>

                    <div style="background-color: #f5f5f5; max-width: 100%; padding: 20px 5px; font-size: 0.7rem; margin-top: 5%; text-align: center; color: #616161;">
                        <p>
                            {% translate "EMAIL/DELIVERY_CONFIRM/DO_NOT_REPLY_1" %}<br/>
                            {% translate "CONTACT_SELLER"%}<br/>
                            {% blocktrans %} This order system is powered by <a href="https://www.liveshowseller.com/">Algotech</a> {% endblocktrans %} <br/>
                            {% translate "Algotech Pte Ltd" %}<br/>
                            {% translate "UEN No. 200504141W" %} <br/>
                            {% translate "If you have any problem about our system." %} <a href="{% translate 'CONTACT_US_URL' %}" >{% translate "Please contact us." %}</a><br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>   