{% load i18n %}
<html>
    <head>
    </head>
    <body style="color:black;">

        <p>{% translate "EMAIL/PASSWORD_RESET_LINK/SUBJECT" %}</p> 

        
        <p>{% blocktranslate %}EMAIL/PASSWORD_RESET_LINK/CONTENT1{{ username }}{% endblocktranslate %}</p>

        <p>{% translate "EMAIL/PASSWORD_RESET_LINK/CONTENT2" %}</p>

        <a href="https://1234.1234.1234.1234.com?code={{code}}">
            {% translate "EMAIL/PASSWORD_RESET_LINK/BUTTON" %}
        </a>

        <p>{% translate "EMAIL/PASSWORD_RESET_LINK/CONTENT3" %}</p>
        
        <p>{% translate "CONTACT_INFO/EMAIL" %}</p>
        <p>{% translate "CONTACT_INFO/PHONE" %}</p>
        <p>{% translate "CONTACT_INFO/ADDRESS" %}</p>

    </body>
</html>   

