{% load i18n %}
<html>
    <head>
    </head>
    <body style="color:black;">

        <!-- <p>{% translate "EMAIL/PASSWORD_RESET_LINK/SUBJECT" %}</p>  -->

        <img src="https://storage.googleapis.com/lss_public_bucket/static/LSSlogo-300-172.png" style="width: 200px">

        <p>
            {% translate "EMAIL/PASSWORD_RESET_LINK/CONTENT1" %}{{ username }},
        </p>

        <p>{% translate "EMAIL/PASSWORD_RESET_LINK/CONTENT2" %}</p>

        <a href="{{ url }}?code={{ code }}&username={{ username }}">
            {% translate "EMAIL/PASSWORD_RESET_LINK/BUTTON" %}
        </a>

        <p>{% translate "EMAIL/IF_YOU_CAN_NOT_CLICK" %}<br>{{ url }}?code={{ code }}&username={{ username }}</p>

        <p>{% translate "EMAIL/PASSWORD_RESET_LINK/CONTENT3" %}</p>
        
        <p>{% translate "CONTACT_INFO/EMAIL" %}</p>
        <!-- <p>{% translate "CONTACT_INFO/PHONE" %}</p>
        <p>{% translate "CONTACT_INFO/ADDRESS" %}</p> -->

    </body>
</html>   

