{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Live Show Seller</title>
    <link rel="shortcut icon" type="image/png" href="/static/LSS_site_icon.jpeg"/>
    
  </head>
  <body>
    <iframe is="x-frame-bypass"
        src="http://localhost:4444/ui#/sessions"
        scrolling="yes" frameborder="0" allowfullscreen allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        style="overflow:hidden; height:100%; width:100%; position: absolute; top: 0; left: 0; bottom: 0; right: 0;" height="100%" width="100%"
    >
    </iframe>
  </body>
</html>

