{% load i18n %}


<html>
    <head>
    </head>
    <body>
        <!-- <div>
            {% get_current_language as LANGUAGE_CODE %}
            Current language: {{ LANGUAGE_CODE }}
            <p>{% translate "COMMENT_COMMAND_CART_MESSAGE_HEADER" %}</p>

            {% language 'en' %}
                {% get_current_language as LANGUAGE_CODE %}
                Current language: {{ LANGUAGE_CODE }}
                <p>{% translate "COMMENT_COMMAND_CART_MESSAGE_HEADER" %}</p>
            {% endlanguage %}
        </div> -->
        <div>
            <h3>Welcome to Live Show Seller, {{ firstName }} !</h3>
        </div>
        <br>
        <div>
            <p>We’re thrilled to see you here. Your account has been activated. </p>
            <p>Here’s where you can log in to Live Show Seller.</p>
            <form action="https://v1login.liveshowseller.com/login">
                <input type="submit" value="Go to LSS" />
            </form>
        </div>
        <br>
        <div>
            <p>What happens next?</p>
            <p>You can just take a look at our user guide below. It will walk you through every step of the process.</p>
            <p>If any further assistance is needed, feel free to contact us to arrange an online demonstration via Zoom during office hours.</p>
            <p>You may also contact us for any technical issue at <a href="">lss@algotech.app.</a></p>
        </div>
        <br>
        <div>
            <p>Once again, we’re happy to have you on board!</p>
        </div>
        <div>
            <p>Cheers,</p>
            <p>The Live Show Seller Team</p>
        </div>

        <!-- <div>
            <div>
                congratulations!
                {{firstName}}
                {{lastName}}
                {{contactNumber}}
                {{email}}
                {{password}}
                {{plan}}
                {{period}}
                {{country}}
            </div>
        </div> -->
    </body>
</html>   