{% load i18n %}


<html>
    <head>
    </head>
    <body style="background-color: darkgray; color:black;">
        <!-- <div>
            {% get_current_language as LANGUAGE_CODE %}
            Current language: {{ LANGUAGE_CODE }}
            <p>{% translate "COMMENT_COMMAND_CART_MESSAGE_HEADER" %}</p>

            {% language 'en' %}
                {% get_current_language as LANGUAGE_CODE %}
                Current language: {{ LANGUAGE_CODE }}
                <p>{% translate "COMMENT_COMMAND_CART_MESSAGE_HEADER" %}</p>
            {% endlanguage %}
        </div> -->
        
        <div style="text-align: center;">
            <img src="https://storage.googleapis.com/lss_public_bucket/static/Welcome-400x150.jpg">
            <h3>{% translate "TITLE_WELCOME" %}, {{ firstName }} !</h3>
        </div>
        <div style="text-align: center;">
            <p>Dear {{ firstName }}. </p>
        </div>
        <br>
        <div style="text-align: center;">
            <p>{% translate "THANKS_PHRASE_WELCOME" %}</p>
            <p>{% translate "LOGIN_1_WELCOME" %} <a href="https://v1login.liveshowseller.com/login">{% translate "LOGIN_2_WELCOME" %}</a> {% translate "LOGIN_3_WELCOME" %}</p>
        </div>
        <div style="text-align: center;">
            <p>Email: {{ email }}</p>
            <p>Password: {{ password }}</p>
        </div>
        <br>
        <div style="text-align: center;">
            <p>{% translate "PLAN_CHOOSE_1_WELCOME" %}</p>
            <p>{% translate "PLAN_CHOOSE_2_WELCOME" %}</p>
            <p>{% translate "PLAN_CHOOSE_3_WELCOME" %} <a href="">lss@algotech.app</a> {% translate "PLAN_CHOOSE_4_WELCOME" %}</p>
        </div>
        <br>
        <div style="text-align: center;">
            <p>{% translate "CONGRATS_1_WELCOME" %}</p>
            <p>{% translate "CONGRATS_2_WELCOME" %}</p>
            <p>{% translate "CONGRATS_3_WELCOME" %}</p>
            <img src="https://storage.googleapis.com/lss_public_bucket/static/LSSlogo-300-172.png" style="width: 200px">
        </div>

    </body>
</html>   