{% load i18n %}


<html>
    <head>
    </head>
    <body style="color:black;">
        <div>
            <img src="{% settings_value "WELCOME_HEADER__URL" %}">
            <h3>{% translate "TITLE_ACTIVATION" %}</h3>
        </div>
        <br>
        <div>
            <p>Dear {{ firstName }}, </p>
        </div>
        <br>
        <div>
            <p>{% translate "YOUR_ACTIVATION" %} {{ Plan }} {% translate "PLAN_ACCOUNT_ACTIVATION" %}</p>
            <p>{% translate "LOGIN_ACTIVATION" %} <a href="{% settings_value "WEB_SERVER_URL" %}/seller/web/login">{% translate "LOGIN_2_WELCOME" %}</a></p>
        </div>
        <div>
            <p>Email: {{ email }}</p>
            <p>Password: {{ password }}</p>
        </div>
        <br>
        <div>
            <p>{% translate "STEP1_ACTIVATION" %}</p>
            <p>{% translate "STEP2_ACTIVATION" %}</p>
            <p>{% translate "STEP3_ACTIVATION" %} <a href="">{% settings_value "NOTIFICATION_EMAIL" %}</a> {% translate "STEP4_ACTIVATION" %}</p>
        </div>
        <br>
        <div>
            <p>{% translate "REGARDS_ACTIVATION" %}</p>
            <p>{% translate "CONGRATS_3_WELCOME" %}</p>
            <img src="{% settings_value "LOGO_URL" %}" style="width: 200px">
        </div>

    </body>
</html>   