{% load i18n %}
<html>
    <head>
    </head>
    <body style="color:black;">

        <!-- <p>{% translate "EMAIL/PASSWORD_RESET_LINK/SUBJECT" %}</p>  -->

        <img src="https://storage.googleapis.com/lss_public_bucket/static/LSSlogo-300-172.png" style="width: 200px">

        <p>
            {% translate "EMAIL/PASSWORD_RESET_LINK/CONTENT1" %}{{ username }},
        </p>

        <p>{% translate "EMAIL/PASSWORD_RESET_SUCCESS/CONTENT1" %}-{{ url }}-{% translate "EMAIL/PASSWORD_RESET_SUCCESS/CONTENT2" %}</p>

        <p>{% translate "CONTACT_INFO/EMAIL" %}</p>

    </body>
</html>   

