{% load i18n %}
<html>
    <head>
    </head>
    <body style="color:black;">

        <!-- <p>{% translate "EMAIL/PASSWORD_RESET_LINK/SUBJECT" %}</p>  -->

        <img src="{% settings_value "LOGO_URL" %}" style="width: 200px">

        <p>
            {% translate "EMAIL/PASSWORD_RESET_LINK/CONTENT1" %}{{ username }},
        </p>

        <p>{% translate "EMAIL/PASSWORD_RESET_SUCCESS/CONTENT1" %} <span style="font-weight: bold">{{ email }}</span> {% translate "EMAIL/PASSWORD_RESET_SUCCESS/CONTENT2" as CONTENT2 %}{{ CONTENT2 | linebreaksbr }}</p>

        <p>{% translate "CONTACT_INFO/EMAIL" %}</p>

    </body>
</html>   

